body{
font-family: Arial;
background:#808080;
}

.container{
width:250px;
margin:60px auto;
}

input{
width:100%;
padding:6px;
margin-bottom:10px;
}

button{
padding:6px 10px;
margin-right:5px;
cursor:pointer;
}

ul{
padding-left:20px;
}

li{
margin:5px 0;
cursor:pointer;
}